// HEROBANNER START
.section__herobanner {
    background-repeat: no-repeat;
    background-size: cover;
    // padding: 0px 0px 50px;
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &:before {
        content: "";
        position: absolute;
        background-image: linear-gradient(290.74deg, #12CBC4 11.01%, #933985 90.64%);
        opacity: 0.8;
        transform: rotate(180deg);;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    figure {
        width: 100%;
        grid-row: 1;
        grid-column: 1;
        img {
            width: 100%;
            object-fit: cover;
            height: 100vh;
        }
    }

    .__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1;
        grid-column: 1;
        align-items: center;
        z-index: 1;
        height: max-content;
        align-self: center;

        .article__herocontent {
            position: relative;
            .__title {
                color:#fff;
            }
            .hero-content {
                @extend %content-text;
                font-weight: normal;
                font-size: 25px;
                color: #fff;
                padding: 35px 0 60px;
                text-shadow: 0px 3px 6px rgba(150, 150, 150, 0.95);
            }
        }
    }
}

// CONTENT
.section__content {
    padding: 30px 0;
    height: 1200px;
    background-size: cover;

    .__container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        article {
            .__title {
                color: color(primary);
                font-weight: 500;
            }

            .__content-text {
                padding: 10px 0 35px;
                color: #000;
            }
        }
    }
}


// CTA STYLES START
.section__cta {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &:before {
        content: "";
        background: linear-gradient(290.74deg, #12CBC4 11.01%, #933985 90.64%);
        opacity: 0.8;
        transform: rotate(180deg);
        background-position: top;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    .__container {
        position: relative;
        z-index: 1;
        padding: 100px 0 120px;

        .__title {
            color: #fff;
        }

        .__content-text {
            color: #fff;
            font-size: 20px;
            padding: 10px 0 35px;
        }
    }
}



// FOOTER
footer {
    .top-footer {
        background: #282828;
        padding: 30px 0;

        .__container {
            display: grid;
            grid-template-columns: 1fr 1fr auto auto;
            gap: 130px;
            align-items: center;

            .footer-1 {
                figure {
                    img {
                        width: 125px;
                    }
                }

                article {
                    p {
                        color: #fff;
                        font-size: 14px;
                        padding-top: 15px
                    }
                }
            }


            address {
                display: grid;
                grid-template-columns: max-content max-content;
                gap: 20px;
                align-items: center;

                i {
                    font-size: 30px;
                    color: #fff;
                }

                .footer-text {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    color: #fff;
                }
            }

            .footer-links {
                .footer-title {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: #fff;
                    padding-bottom: 20px;
                }

                ul {
                    .footer-link-item{
                        padding-bottom: 10px;

                        a {
                            color: #fff;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 22px;
                            transition: 0.5s; 
                            
                            &:hover {
                                color:color(secondary);
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom-footer {
        padding: 20px 0;
        background-color: #0A0707;

        .__container {
            display: grid;
            grid-template-columns: auto auto;
            align-self: center;
            gap: 40px;

            .footer-terms {
                a {
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            .bottom-footer-writeup {
                justify-self: center;
                align-self: center;

                // h6 {
                //     font-style: normal;
                //     font-weight: 600;
                //     font-size: 16px;
                //     line-height: 20px;
                //     color: #8A8686;
                //     font-family: map-get($fonts, main-font);
                // }
            }

            .footer-terms,
            .footer-terms a,
            .footer-copyright p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color:#fff;
                font-family: map-get($fonts, main-font);
                transition: 0.5s;

                &:hover {
                    color: color(secondary);
                    text-decoration: none;
                }
            }

            .footer-terms {
                justify-self: end;
            }
        }
    }
}
