// HEROBANNER START
.section__herobanner {
    background-repeat: no-repeat;
    background-size: cover;
    // padding: 0px 0px 50px;
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &:before {
        content: "";
        position: absolute;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(157, 14, 135, 0.455) 100%);
        ;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    video {
        width: 100%;
        grid-row: 1;
        grid-column: 1;
        height: 100vh;
        object-fit: cover;
    }

    .__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1;
        grid-column: 1;
        align-items: center;
        z-index: 1;
        height: max-content;
        align-self: center;

        .article__herocontent {
            position: relative;

            .hero-content {
                @extend %content-text;
                font-weight: 300;
                font-size: 20px;
                color: #fff;
                padding: 35px 0 60px;
            }
        }
    }
}

// CONTENT
.section__content {
    padding: 30px 0;
    height: 1200px;
    background-size: cover;

    .__container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        article {
            .__title {
                color: color(primary);
                font-weight: 500;
            }

            .__content-text {
                padding: 10px 0 35px;
                color: #000;
            }
        }
    }
}


// CTA STYLES START

.section__cta {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &:before {
        content: "";
        background: linear-gradient(89.85deg, #933985 0.03%, rgba(252, 164, 83, 0.65) 59.88%, rgba(232, 206, 72, 0.68) 99.95%);
        opacity: 0.8;
        background-position: top;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    .__container {
        position: relative;
        z-index: 1;
        padding: 100px 0 120px;

        .__title {
            color: #fff;
        }

        .__content-text {
            color: #fff;
            font-size: 20px;
            padding: 10px 0 35px;
        }
    }
}



// FOOTER
footer {
    .top-footer {
        background: #282828;
        padding: 30px 0;

        .__container {
            display: grid;
            grid-template-columns: 1fr 1fr auto auto;
            gap: 50px;
            align-items: center;

            .footer-1 {
                figure {
                    img {
                        width: 125px;
                    }
                }

                article {
                    p {
                        color: #fff;
                        font-size: 14px;
                        padding-top: 15px
                    }
                }
            }


            address {
                display: grid;
                grid-template-columns: max-content max-content;
                gap: 20px;
                align-items: center;

                i {
                    font-size: 30px;
                    color: #fff;
                }

                .footer-text {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 22px;
                    color: #fff;
                }
            }

            .footer-links {
                .footer-title {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: #fff;
                    padding-bottom: 20px;
                }

                ul {
                    li {
                        padding-bottom: 10px;

                        a {
                            color: #fff;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }

    .bottom-footer {
        padding: 20px 0;
        background-color: #0A0707;

        .__container {
            display: grid;
            grid-template-columns: auto auto;
            align-self: center;
            gap: 40px;

            .footer-terms {
                a {
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            .bottom-footer-writeup {
                justify-self: center;
                align-self: center;

                // h6 {
                //     font-style: normal;
                //     font-weight: 600;
                //     font-size: 16px;
                //     line-height: 20px;
                //     color: #8A8686;
                //     font-family: map-get($fonts, main-font);
                // }
            }

            .footer-terms,
            .footer-terms a,
            .footer-copyright h6 {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color:#fff;
                font-family: map-get($fonts, main-font);
            }

            .footer-terms {
                justify-self: end;
            }

        }
    }
}
