// NAVIGATION START 
.header__navigation {
    padding: 60px 0 20px;
    z-index: 999;
    width: 100%;
    position: fixed;

    .__container {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    nav {
        justify-self: end;

        ul {
            position: relative;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li:not(:last-of-type) {
            padding-right: 105px;
        }

        li.link-active a {
            color: color(primary);
            font-weight: normal;
        }

        .has-dropdown {
            &.link-active {
                a {
                    color: color(primary);
                    font-weight: normal;
                }
            }
        }

        li.has-dropdown {
            .nav-dropdown {
                display: none;
                position: absolute;
                top: 25px;
                padding: 10px 20px;
                background: #ffffffa3;
                border-top: 1px solid #bbb;
                border-right: 1px solid #bbb;
                border-bottom: 1px solid #bbb;
                border-left: 1px solid #bbb;
                box-shadow: 1px 1px 6px #666;
                z-index: 1;
                width: auto;
                transition: 0.5s;

                li {
                    display: block;

                    a {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 40px;
                        color: #000;
                    }

                    a:hover {
                        color: color(primary);
                    }
                }
            }
        }

        li.has-dropdown:hover>.nav-dropdown {
            display: block;
            z-index: 999;
        }

        li {
            display: inline-block;

            a {
                font-family: font(main);
                text-transform: uppercase;
                font-weight: 300;
                color: #fff;
                text-decoration: none;
                font-size: 15px;
                &:hover,
                &:active {
                    color: color(primary);
                }
            }
        }
    }

    .logo-container {
        margin: 0px;
        .logo-link {
            img {
                position: relative;
                max-width: 105px;
            }
        }

    }
}

// STICKY NAV 
// $nav-height: 3em;

.filler {
    height: 40px;
    position: fixed;
}

.navbar-fixed {
    position: fixed !important;
    top: 0;
    padding: 10px 0 !important;
    background: #fff !important;

    nav {
        ul {
            li {
                a {
                    color: color(c-content);
                    text-shadow: none;
                }
            }
        }
    }


    .logo-container {
        img {
            max-width: 105px !important;
        }
    }
}


#color-change {
    transition: 0.5s;
}