// PRESET START
body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}


// TEXT STYLES
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: font(main);
    margin: 0;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 47px;
}

h3 {
    font-size: 42px;
}

h4 {
    font-size: 37px;
}

h5 {
    font-size: 29px;
}

h6 {
    font-size: 25px;
}

.headline-text {
    font-size: 20px;
}

p {
    font-size: 16px;
}

.caption-text {
    font-size: 12px;
}

// 


a {
    font-family: font(primary);
    font-weight: 500;
    color: color(content);
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        color: color(primary);
    }
}


body {
    font-family: font(secondary);
}

figure {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

// General classes
.__container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

.__title {
    @extend %title-header;
}

.__content-text {
    @extend %content-text;
    font-size: 20px;
}


// BUTTONS

.button-standard {
    @extend %button;
    @extend %button-text;
}

.button-pink {
    @extend %button-pink;
    @extend %button-pink-text;
}

// END BUTTONS

// preset end
