// PRESET START
body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: font(main);
    margin: 0;
}



a {
    font-family: font(primary);
    font-weight: 500;
    color: color(content);
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        color: color(primary);
    }
}


body {
    font-family: font(secondary);
}

figure {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}


// BUTTONS

.button-standard { 
    @extend %button;
    @extend %button-text;
}

.button-pink { 
    @extend %button-pink;
    @extend %button-text; 
}
// END BUTTONS

// preset end