$colors: (primary: #933985,
    secondary: #12CBC4,
    c-content: #333,
    c-title: #656565,
    hover:linear-gradient(90deg, rgba(147, 57, 133, 1), rgba(232, 206, 72, 1)),
    hover-off:linear-gradient(90deg, rgba(147, 57, 133, 0), rgba(232, 206, 72, 0)),


);

$fonts: (main: 'Poppins',
    secondary: 'Roboto'
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

;

@function font($font-name) {
    @return map-get($fonts, $font-name)
}

;

body {
    background: #000 !important;
}


// Extensions

//texts



// Button standard
%button {
    background: transparent;
    background-size: 100% auto;
    background: color(hover-off);
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    padding: 14px 65px;
    transition: 1s;


    &:hover {
        background: color(hover);
        background-position: center;
        background-size: 120% auto;
        border: 2px solid transparent;
        color: #fff;
        transition: 1s;
    }
}


%button-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}


// Button pink
%button-pink {
    @extend %button;
    border: 2px solid color(primary);
}

%button-pink-text {
    @extend %button-text;
    color: color(primary);
}

// Button standard - end

// texts - start 
%content-text {
    font-family: font(secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
}

// ICONS --- START
%icons {
    font-size: 40px;
    color: #fff;
    transition: 1s;
}

%icons-hover {
    background: color(hover);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:color(primary);
    transition: 1s;
}