 {% set assetImageUrl = 'assets/images/'|theme %}

 <!-- FOOTER START -->
 <footer>
     <section class="top-footer">
         <div class="__container">
             <div class="footer-1">
                 <figure>
                     <img src="{{'logo-w.png'|media}}" alt="">
                 </figure>
                 <article>
                     <p class="body-text">
                        Join2gether brings together unmatched talent and all the tools and capabilities to power the greatest customer engagement.
                     </p>
                 </article>
             </div>

             <address>
                 <i class="fas fa-map-marker-alt"></i>
                 <h4 class="footer-text">
                     Ladislawa Village, Buhangin, </br>Davao City, Philppines 8000
                 </h4>
             </address>
             <div class="footer-links">
                 <h6 class="footer-title">
                     Company
                 </h6>
                 <ul>
                     <li class="footer-link-item">
                         <a href="{{'about'|page}}">
                             About
                         </a>
                     </li>
                     <li class="footer-link-item">
                         <a href="{{'about/clients'|page}}">
                             Clients
                         </a>
                     </li>
                     <li class="footer-link-item">
                         <a href="{{'contact'|page}}">
                             Contact
                         </a>
                     </li>
                 </ul>
             </div>
             <div class="footer-links">
                 <h6 class="footer-title">
                     Follow us! 
                 </h6>
                 {%partial 'social-icons.htm'%}
             </div>
         </div>
     </section>
     <section class="bottom-footer">
         <div class="__container">
            <article class="footer-copyright">
                <p>
                    Copyright © 2020 Join2gether. All rights reserved.
                </p>
            </article>
             <article class="footer-terms">
                 <a href="{{'terms-and-conditions'|page}}">Terms and conditions</a> | <a
                     href="{{ 'privacy-policy'|page }}">
                     Privacy policy
                 </a>
             </article>

         </div>
 </footer>
 <!-- FOOTER END -->
