<section class="section__secondary-cta"
style="background-image:url('{{'secondary-cta.jpg'|media}}');">
    <div class="__container">
        <article>
            <h3 class="__title">
                Let's join together!
            </h3>
            <h6>
                We’re a group of passionate and highly trained individuals that are equipped with great customer service skills and
                knowledge to address our client’s needs. We are flexible and adaptable to give quality service and address the
                concerns or inquiries of our client’s customers.
            </h6>
            <div>
                <a class="button-standard" href="contact">
                    Contact Us
                </a>
            </div>
        </article>
    </div>
</section>
