<article class="article__heroicons">
    <ul>
        <li>
            <a href="https://www.facebook.com/join2getherph/"
             target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/Join2gether1" target="_blank">
                <i class="fab fa-twitter-square"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/join2gether/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
    </ul>
</article>