<main class="content-one" id="contentOne">
    <div class="__container">
        <article class="content-one__article">
            <div class="write-up">
                <h3 class="__title">
                    WE </br>
                    CAN </br> HELP
                    </br>
                    YOU!
                </h3>
                <div>
                    <p class="__content-text">
                        From small family owned businesses to large enterprises join2gether can help your business find, attract, and provide customer service to new customers.  Do you own a roofing company that is in need or more customers? Are you an Accountant that wishes to find more clients for weekly payroll? Maybe you are a bank that has multiple funding options to small businesses.  You could even be entering into an emerging market of Solar Energy and you need assistance finding qualified customers.  Maybe you are considering running for a Government office and you wish to survey the area before committing.  Whatever the need, we can help you to find a cost effective solution.  Our versatile team can be trained to meet your needs.  From one Agent working 20 hours per week to 25 customer service representatives working around the clock, we can customize a solution specifically for you.
                    </p>
                    <a href="about" class="button__standard">
                        Learn more
                    </a>
                </div>
            </div>
        </article>
    </div>
</main>
